#importanceDiv {
    padding: 30px;
    width: 75%;
    max-width: 900px;
    text-align: center;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    word-spacing: 1px;
    line-height: 30px;
  }